* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

#mainFeed {
  margin: 100px;
}

.trending {
  display: flex;
  padding: 20px !important;
  border: 1px solid #031f41;
  max-width: 1000px;
  border-radius: 10px;
}
.trending .trendingBox {
  width: 200px;
}
.trending .tag {
  margin-top: 20px;
}

.container {
  margin: 50px auto;
  max-width: 600px;
}

.contents {
  padding: 10px;
  border-top: 1px solid #031f41;
  text-align: left;
}

@media all and (max-width: 950px) {
  #mainFeed {
    margin: 5vw;
  }
}

.tempBtn {
  width: 100%;
  padding: 10px;
  background-color: #a4bfd8;
  color: #031f41;
  border: none;
  margin-bottom: 50px;
}

.tempBtn:hover {
  background-color: #031f41;
  color: #a4bfd8;
}
