@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Metamorphous&display=swap");

* {
  font-family: "Merriweather";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #031F41;
  --lightblue: #A4BFD8;
}

